
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491448709781'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491448709781#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491448709781') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491448709781') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491448709781#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before { content: "\f0179"; }

.icon-QQ:before { content: "\e604"; }

.icon-xinxi:before { content: "\e61d"; }

.icon-dianhua:before { content: "\e6d6"; }

.icon-phone:before { content: "\e601"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-yifu:before { content: "\e69e"; }

.icon-aixin:before { content: "\e63e"; }

.icon-pingguo:before { content: "\e6d7"; }

.icon-daohanglan:before { content: "\e70d"; }

.icon-shoutidai:before { content: "\e62d"; }

