/*
* @Author: hp
* @Date:   2017-04-09 15:48:25
* @Last Modified by:   hp
* @Last Modified time: 2017-04-10 15:22:28
*/
*{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "苹方","微软雅黑", "Helvetica";
    text-decoration: none;
}
.box{
	width: 100%;
	height: 0.445rem;
	background: rgba(0,123,227, 0.9);
	font-size: 0.16rem;
	display: flex;
	position: fixed;
	z-index: 10;
}
.box div{
	width: 25%;
	height: 0.445rem;
	line-height: 0.445rem;
	text-align: center;
}
.box div:nth-child(3){
	border-bottom: 3px solid#fff;
	box-sizing: border-box;
}
.box div a{
	color: #fff;
	text-decoration: none;
}
.key{
	width: 100%;
	height: 2.07rem;
	position: relative;
}
.key ul{
	width: 100%;
	height: 0.04rem;
    position: absolute;
    top: 2.06rem;
    z-index: 100;
}
.key ul li:nth-child(1){
	width: 25%;
	height: 0.04rem;
	background: #FF8D12;
	float: left;
}


.q{
	width: 100%;
	height: 7.5rem;
	background: #F5F6FA;
	border-top: 1px solid#F5F6FA;
	box-sizing: border-box;
}
.w{
	width: 3.51rem;
	height: 0.35rem;
	margin: 0 auto;
	font-size: 0.12rem;
	line-height: 0.35rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
.w a{
	color: #000;
}
.e{
	width: 3.51rem;
	height: 5.5rem;
	background: #fff;
	margin: 0 auto;
	padding-left: 0.12rem;
	padding-right: 0.12rem;
	padding-top: 0.01rem;
	box-sizing: border-box;
}
.e ul li{
	width: 3.27rem;
	height: 0.93rem;
	border-bottom: 1px solid#B8B8B8;
	position: relative;
	margin-top: 0.15rem;
}
.e ul li img{
    position: absolute;
    top: 0;
    left: 0;
}
.e ul li:nth-child(5){
	border-bottom: 0;
}
.e1{
	width: 2rem;
	height: 0.24rem;
	margin-left: 1.11rem;
	border-bottom: 1px dashed#B8B8B8;
}
.e1 h2{
	font-size: 0.14rem;
	float: left;
}
.e1 spen{
	display: block;
	font-size: 0.12rem;
	float: left;
	line-height: 0.24rem;
	margin-left: 0.05rem;
}
.e2{
	width: 2rem;
	height: 0.18rem;
	margin-left: 1.11rem;
	margin-top: 0.05rem;
	font-size: 0.12rem;
	color: #96D43E;
}


.y{
	width: 3.51rem;
	height: 0.4rem;
	border-top: 1px solid#fff;
	margin: 0 auto;
	background: #fff;
	position: relative;
	box-sizing: border-box;
	margin-top: 0.1rem;
}
.y a:nth-child(1)>img{
	width: 0.25rem;
	height: 0.25rem;
	position: absolute;
	top: 0.07rem;
	left: 0.1rem;
}
.y a:nth-child(2)>img{
	width: 0.74rem;
	height: 0.25rem;
	position: absolute;
	top: 0.07rem;
	left: 0.45rem;
}
.y1{
	width: 0.7rem;
	height: 0.25rem;
	border: 1px solid#000;
	border-radius: 0.4rem;
	margin: 0 auto;
	margin-top: 0.07rem;
	text-align: center;
	font-size: 0.12rem;
	line-height: 0.25rem;
}
.y a:nth-child(4)>img{
	width: 0.74rem;
	height: 0.25rem;
	position: absolute;
	top: 0.07rem;
	left: 2.33rem;
}
.y a:nth-child(5)>img{
	width: 0.25rem;
	height: 0.25rem;
	position: absolute;
	top: 0.07rem;
	left: 3.16rem;
}
.v{
	width: 100%;
	height: auto;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	margin-top: 0.1rem;
}


.b{
	width: 100%;
	height: 0.4rem;
	background: #E7E7E7;
	float: left;
	position: fixed;
	top: 93.928036%;
	left: 0;
}
.b1{
	width: 1.125rem;
	height: 0.4rem;
	font-size: 0.12rem;
	text-align: center;
	line-height:  0.4rem;
	float: left;
}
.b2{
	width: 1.50rem;
	height: 0.45rem;
	background: #FF8D12;
	float: left;
	margin-top: -0.05rem;
	border-radius: 5%;
	font-size: 0.16rem;
	text-align: center;
	line-height:  0.45rem;
	color: #fff;
}
.b3{
	width: 1.125rem;
	height: 0.4rem;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	line-height:  0.4rem;
}